html {
    min-width: 800px;
}

body {
    background: #000;
}

#myCanvas {
    position: absolute;
    top: -webkit-calc(50% - 300px);
    top: -moz-calc(50% - 300px);
    top: calc(50% - 300px);
    left: -webkit-calc(50% - 400px);
    left: -moz-calc(50% - 400px);
    left: calc(50% - 400px);
    background: white;
    box-shadow: 0 0 10px 0 rgb(0,0,0);
    z-index: 1;
}

#title {
    position: absolute;
    left: 0;
    right: 0;
    top: -200px;;
    width: 100%;
    font-size: 280px;
    font-weight: 800;
    font-family: Lato;
    color: #fff;
    text-align: center;
    vertical-align: top;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media screen and (min-width: 950px) {
    #title {
        font-size: 320px !important;
    }
}